{% extends 'base.html' %}

{% block title %} Edit Student Goal {% endblock %}

{% block content %}


<div class="container mt-3">
    <div class="row">
        <div class="col-6">

            <h1 class="text-center">Edit Student Goal</h1>

            <form method="POST" id="user_form">
                {{ g_form.hidden_tag() }}

                {% for field in g_form if field.widget.input_type != 'hidden' %}

                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}


                {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}


                {{ g_form.hidden_tag() }}

                {% for field in d_form if field.widget.input_type != 'hidden' %}

                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}


                {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}

                <button class="btn btn-primary btn-lg btn-block ml-2">Edit Goal</button>
            </form>
        </div>





{% endblock %}
