{% extends 'base.html' %}

{% block title %} {{student.first_name}} {{student.last_name}}'s Profile {% endblock %}

{% block content %}

<label for="state" accesskey="s">State / Province / Territory</label>
<select name="state" id=state">
	<option value="">-- choose one --
	<optgroup label="USA">
		<option value="AL">Alabama
		<option value="CA">California
		<option> … remaining US states …
	</optgroup>
	<optgroup label="Canada">
		<option value="AB">Alberta
		<option value="CA">British Columbia
		<option> … remaining provinces and territories …
	</optgroup>
</select>

<div class="container mt-3">
    <div class="row">

        <div class="col-3">
            <h3 class="text-center">Student Details</h3>
                <div class="card m-2" style="width: 20rem;">
                    <img class="card-img-top" src="../../static/images/anon-profile.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{student.first_name + ' ' + student.last_name + ', '}} Grade {{student.grade}}</h5>
                        <p class="card-text">DOB: {{student.dob}} || Disability Area: {{student.dis_area}}</p>
                    </div>
                </div>
        </div>

        <div class="col-1"></div>

        <div class="col-3">
            <h3 class="text-center">Family Details</h3>
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    {% for guardian in guardians %}
                        <li class="list-group-item"><b>{{guardian.guardian.first_name}} {{guardian.guardian.last_name}},</b> {{guardian.guardian.relation}}</li>
                    {% endfor %}
                </ul>
              </div>
        </div>

        <div class="col-1"></div>

        <div class="col-3">
            <h3 class="text-center">IEPs</h3>
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    {% for iep in ieps %}
                        <li class="list-group-item"><b><a href="/student/{{student.id}}/iep/{{iep.id}}">{{iep.date}}</a></b></li>
                    {% endfor %}
                        <li class="list-group-item"><b><a href="/student/{{student.id}}/iep">Create New IEP+</a></b></li>
                </ul>
              </div>
        </div>

        <div class="row">
            {% for goal in goals %}
                <div class="col-4 text-center">
                    <div class="card mt-3" style="width: 18rem; height:20rem">
                        <div class="card-body">
                            <h5 class="card-title">{{goal.goal}}</h5>
                                {% for data in goal.data %}
                            <h6 class="card-subtitle mb-2 text-muted">{{data.current_data_date}}</h6>
                            <p class="card-text text-danger">Baseline: {{data.baseline}}</p>
                            <p class="card-text text-info">Current: {{data.current}}</p>
                            <p class="card-text text-success">Level of Attainment: {{data.attainment}}</p>
                                {% endfor %}
                            <a href="/goal/{{goal.id}}" class="btn btn-primary btn-large btn-block">Edit Current Data<a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
</div>

{% endblock %}