{% extends 'teacher-base.html' %}

{% block title %} Teacher Detail {% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center display-4">Student List</h1>
    <div class="row">

            {% for student in students %}
                <div class="card m-2" style="width: 20rem;">
                    <img class="card-img-top" src="../../static/images/anon-profile.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{student.first_name + ' ' + student.last_name + ', '}} Grade {{student.grade}}</h5>
                        <p class="card-text">DOB: {{student.dob}} || Disability Area: {{student.dis_area}}</p>
                        <a href="/student/{{student.id}}" class="btn btn-primary">Student Details</a>
                    </div>
                </div>
            {% endfor %}

    </div>
</div>

{% endblock %}