{% extends 'teacher-base.html' %}

{% block title %} Teacher Detail {% endblock %}

{% block content %}

{{teacher.first_name + teacher.last_name}}

{{teacher.school.name}}

{{teacher.title}}

{{teacher.username}}

{{teacher.password}}

<div class="container">
    <div class="col">
        <div class="row">
            <h4>Add a student? <a href="/teacher/{{teacher.id}}/add-student">Click Here!</a></h4>
        </div>
    </div>
</div>

{% for student in students %}

<h1>{{student}}</h1>

{% endfor %}

{% endblock %}