{% extends 'login-base.html' %}

{% block title %} Teacher Registration {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="text-center">Teacher Registration</h1>

            <form method="POST" id="user_form">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}

                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}

                {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}

                <button class="btn btn-primary btn-lg btn-block ml-2">Sign me up!</button>
            </form>
        </div>

        <div class="col-1"></div>

        <div class="col-4 text-center">
            <div class="card mt-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">New to IEP+</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Login Here</h6>
                    <a href="/guardian/register" class="card-link">Register Here<a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}