.good {
    background-color: lightgreen;
    color: gray;
    font-size: 50px;
}

.bad {
    background-color: red;
    color: gray;
    font-size: 50px;
}

input {
    margin: 10px;
}

#dis_area {
    margin-left: 10px;
    margin-bottom: 10px;
}