<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <div class="container text-center bg-info">
            <h1 class="display-4"><a href="/">Welcome to IEP+</a></h1>
            <p class="lead">A tool for those with exceptional students</p>
            <hr class="my-4">
    </div>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="{{ category }} text-center">{{ message }}</div>
    {% endfor %}

    {% block content %} {% endblock %}
</body>
</html>
