<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome!</title>
</head>
<body>
    <div class="container text-center">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to IEP+</h1>
            <p class="lead">A tool for those with exceptional students</p>
            <hr class="my-4">
            <p>Are you a teacher or a parent/gaurdian?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/teacher/login" role="button">Teacher</a>
                <a class="btn btn-primary btn-lg" href="/guardian/register" role="button">Parent/Guardian</a>

            </p>
        </div>
    </div>

</body>
</html>
