{% extends 'base.html' %}

{% block title %} {STUDENT NAME} {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/static/images/anon-profile.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Student Name</h5>
          <ul class="list-group">
            <li class="list-group-item">Student Grade</li>
            <li class="list-group-item">Teacher Name</li>
            <li class="list-group-item">Disability Group</li>
          </ul>
          <a href="#" class="btn btn-primary btn-large btn-primary mt-3">See More</a>
        </div>
      </div>
</div>

{% endblock %}